:root {
    --primary-color: #FFA07A;
    --secondary-color: #FFE4B5;
    --tertiary-color: #FF8C00;
    --text-on-primary: black;
    --text-on-secondary: black;
    --text-on-tertiary: white;
  }
header {
    background-color: #FF8C00;
  display: flex;
  justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
}  

.links {
  display: flex;
}

li {
  list-style: none;
  padding: 2rem;
}

a{
  text-decoration: none;
}