:root {
  --primary-color: #FFA07A;
  --secondary-color: #FFE4B5;
  --tertiary-color: #FF8C00;
  --text-on-primary: black;
  --text-on-secondary: black;
  --text-on-tertiary: white;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}


button {
  background-color:#FF8C00;
  border-radius: 3px;
}
h2 {
  color: var(--tertiary-color);
}

a {
  color: var(--secondary-color);
}

